/* body, h1 {
	font-family: "Unineuebook, sans-serif";
} */


body {
  color: #333;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.page-wrapper {
	margin: 0px;
}
